{% extends "base.html"%}
{% load crispy_forms_tags %}
{% block base %}
<div class="container margint">
    <div class="row justify-content-center align-items-center ">
        <div class=" card">
            <div class="card-body">
        <div class="col-sm4">
            <div class="alert alert-dark" role="alert">
                <h2> Register</h2>
            </div>

            <form method= "POST" class="text-">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-check">
                  <label class="form-check-label">
                      <input type="checkbox" class="form-check-input text-primary" value="">Agree to the <a class="ml-2 text-primary" href="#" >Terms and Conditions</a>
                  </label>
                </div>
                    <br>
                        <button type="submit" class="btn btn-danger">Register</button>
                 <div class="col-md-6 text-right">
                    <small class=" text-muted text-primary"> Or just
                        <a class=" text-primary" href="{% url 'login'%}">Login </a>
                    </small>
                </div>
            </form>
        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}